
/* Products CSS */

.category-container {
    font-family: var(--fontpri);
    gap:1.2rem;
  }
  .our-services {
    padding:2rem;
  } 
  .heading-section {
    text-align: center;
    margin-top:2.5rem;
  }
  .featured-products {
    font-size: 1.8rem;
    margin-bottom:1rem;
    color:#103c68;
  }
  .p-text {
    font-size:1.3rem;
    font-weight: 400;
  }
  .start-shopping {
    height:250px;
    background:var(--fadelight);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:0.8rem;
  }
  .shopping-text {
    font-size:1.8rem;
  }
  .shop-now {
    background-color: #000;
    padding: 0.8rem 1.8rem;
    margin-top:12px;
    border-radius: 0.3rem;
  }
  .shop-now a {
    color:#fff;
  }
  .prod-catg-cvr {
    display:grid;
    place-items:center;
  }
  .prod-catg-cvr:hover {
    box-shadow: 0 0 5px rgba(61, 61, 61, 0.541);
    border-radius: 0.5rem;
  }
  .prod-catg-img-container {
    width:180px;
    padding:0.3rem;
    object-fit:fill;
  }
  .prod-categ-title {
    text-align: center;
    font-weight: bold;
    color:rgb(0, 0, 0);
    margin-top:0.5rem;
  }
  

  @media all and (max-width:1031px){
    .prod-catg-cvr {
      width:150px;
    }
    .prod-catg-img-container {
      width:140px;
    }
  }
  @media all and (max-width:921px){
    .prod-catg-cvr {
      width:140px;
    }
    .prod-catg-img-container {
      width:120px;
    }
  .prod-categ-title {
    font-size:0.9rem;
  }
  }
  @media all and (max-width:821px){
    .category-container {
      gap:0;
    }
  }

  @media all and (max-width:768px){
    .prod-catg-cvr {
      width:140px;
    }
    .prod-catg-img-container {
      width:120px;
    }
    .prod-categ-title {
      font-size:0.9rem;
    }
   .prod-categ-title {
      font-size: 0.8rem;
    }
  }

  @media all and (max-width:744px){
    .catg-col {
      width:20%;
    }
    .prod-catg-cvr {
      min-width:80px;
    }
  }

  @media all and (max-width:727px){
    .sub-heading{
      font-size: 1.2rem;
    }
    .our-products {
      font-size: 1.2rem;
    }
    .p-text {
      font-size:0.9rem;
    }
  }


  @media all and (max-width:700px){
    .catg-col {
      width:15%;
    }
    .prod-catg-cvr {
      max-width:60px;
      margin:auto;
    }
    .prod-catg-cvr:hover {
      box-shadow: unset;
      border-radius: unset;
    }
    .prod-catg-img-container {
      width:55px;
      display: flex;
    }
    .prod-catg-img-container > img {
      object-fit: fill;
    } 
  }

  @media all and (max-width:550px){
    .prod-catg-cvr {
      max-width:40px;
    }

  }

  @media all and (max-width:468px){
    .shopping-text {
      font-size:1rem;
    }
    .shop-now {
      padding: 0.5rem 1.2rem;
      margin-top:12px;
    }
    .featured-products {
      font-size: 1rem;
    }
    .catg-col {
      width:20%;
    }
    .prod-catg-cvr {
      max-width:32px;
    }
  }

  @media all and (max-width:400px){
    .prod-catg-cvr {
      min-width:50px;
    }
    .prod-catg-img-container {
      width:40px;
    }
    .prod-catg-img-container > img {
      max-width:30px;
    }
    .prod-categ-title {
      font-size:0.6rem;
    }
  }
