
.wishlist-heading {
    .wishlistIcon {
        font-size:2.5rem;
        margin-right:0.6rem;
    }
    #empty-wishlist {
        font-size:2.5rem;
        color:var(--fadegrey);
    }
    #h2-wishlist {
        margin-bottom: 0 !important;
    }   
}
.empty-wish-container{
    height:400px;
    color:var(--fadegrey);
    background-image: radial-gradient(#f9f9f9 20%, #fff 80%);
}



.wishlist-container {
    background:#fff;
    #wishlist-head-wrapper {
        .row-head {
            border-top:2px solid var(--fadegrey);
            border-bottom:2px solid var(--fadegrey);
            padding:0.6rem 0;
            font-weight:600;
        }
    }
    .wishlist-card-container {
        overflow-y:scroll;
        height:600px;
        .row-content {
            border-bottom:1px solid var(--fadegrey);
            padding:0.5rem;
            display:flex;
            align-items:center;
            height: 180px;
            .img-col {
                .product-cover {
                img {
                    max-height:160px;
                    min-width:120px;
                    object-fit: contain;
                }
                }
            }
            .stock {
                p {
                    font-weight: 600;
                    color:#fff;
                    margin-top:auto;
                    margin-bottom:auto;
                    padding:0;
                }
                #instock {
                    color:var(--green);
                }
                #outstock {
                    color: rgb(233, 120, 14);
                }
            }
            .action-col {
                justify-content: center;
                .action {
                    height:40px;
                    width:100px;
                    margin:0.8rem;
                    color:#fff;
                    border:none;
                    border-radius: 0.3rem;
                }
                .addtocart {
                    background-color: var(--navgreendrk);
                }
                .removewish {
                    color:var(--darkgrey);
                    font-size:1.6rem;
                    cursor: pointer;
                }
            }
        }
    }
    
    
}

@media all and (max-width:767px) {
    .wishlist-heading {
        margin-bottom:0.3rem !important;
        .wishlistIcon {
            font-size:1.2rem;
        }
        #empty-wishlist,
        #h2-wishlist{
            font-size:1.3rem;
        }

    }
    .wishlist-container {
        font-size:0.8rem;
        .wishlist-card-container {
            .row-content {
                .img-col {
                    .product-cover {
                        img {
                            min-height:80px;
                            min-width:60px;
                        }
                    }
                }
                .action-col {
                    .action {
                        width:auto;
                        padding:0.2rem;
                    }
    
                } 
            }
        }
        
    }
}

@media all and (max-width:537px) {
    .wishlist-container {
        font-size:0.6rem;
        .wishlist-card-container {
            .row-content {
                .action-col {
                    flex-direction: column;
                    max-width:100px;
                    padding:0;
                    .action {
                        height:20px;
                    }
                    .removewish {
                        font-size:0.8rem;
                    }
                }
                } 
        }
        
    }
}

@media all and (max-width:485px) {
    
}