
.aside {
    border:1px solid var(--fadegrey);
    border-radius: 0.5rem;
    padding:0.8rem;
    height:auto;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width:8px;
      }
     &::-webkit-scrollbar-track {
      border-radius: 5rem;
      margin-block: 1rem;
      }
      &::-webkit-scrollbar-thumb {
      border-radius: 5rem;
      }
    @media all and (max-width:1196px){
        margin:0;
        padding:0.5rem 0.8rem;
    }
    @media all and (max-width:992px){
        background:#fff;
        border:none;
    }
    .aside_filter {
        font-size:1.2rem;
        font-weight: 600;
        padding:0.4rem 0;
        border-bottom: 1px solid var(--fadegrey);
        .filterIcon {
            font-size:1.2rem;
        }
    }
    .filter_toggle {
        display: none;
        border-bottom: 1px solid var(--fadegrey);
        font-size:1rem;
        padding:0.1rem 0.5rem;
        margin-bottom:1rem;
        float:right;
        background-color: var(--dark);
        cursor: pointer;
        border-radius: 0.3rem;
        color:#fff;
        &:hover {
            background-color: #000;
        }
        .arrow {
            font-size:1.2rem;
            margin-left:0.3rem;
        }
        @media all and (max-width:992px){
            display:block;
        }
        @media all and (max-width:467px){
            font-size:0.8rem;
        }
        
    }
    .filter_item {
        @media all and (max-width:768px){
            margin-top:0.5rem;
        }
        .filter_title {
        @media all and (max-width:768px){
            display:inline;
            font-size:0.9rem;
            padding:0.2rem 0.3rem;
            &:hover {
                border-color: #000;
                color:#000;
            }
        }
        @media all and (max-width:467px){
            font-size:0.8rem;
        }
    }

        /* Filter section item */

    .aside_item {
        border:1px solid var(--fadegrey);
        color:black;
        margin:1rem 0;
        padding:0.3rem;
        border-radius: 0.3rem;
        font-weight: 400;
        font-size:0.9rem;

        .type_filter_list {
            @media all and (max-width:992px){
                display: flex;
                flex-wrap: wrap;
            }
        }

        /* Price filter section */

        .price_filter_label {
            font-size:0.9rem;
            font-weight:900;
            padding:0.25rem;
            border-radius: 0.3rem;
            color:#fff;
            background-color:var(--navgreenlgt);
        }
        .price_control_bar {
            height: 4px;
            margin-top:1rem;
            position:relative;
            background-color:rgb(216, 212, 212);
            .progress_bar{
                height:100%;
                border-radius: 0.3rem;
                position:absolute;
                cursor: pointer;
                background:var(--navgreendrk);
            }
        }
        .range_input {
            position:relative;

            input[type="range"]{
                width:100%;
                height: 4px;
                position: absolute;
                top: -4px;
                background: none;
                pointer-events: none;
                -webkit-appearance: none;
                -moz-appearance: none;
            }
            input[type="range"]::-webkit-slider-thumb{
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background-color:var(--navgreendrk);
                pointer-events: auto;
                cursor:pointer;
                -webkit-appearance: none;
              }
              input[type="range"]::-moz-range-thumb{
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background-image:linear-gradient(var(--navgreendrk), var(--navgreenlgt));
                pointer-events: auto;
                cursor:pointer;
                -moz-appearance: none;
                box-shadow: 0 0 6px rgba(0,0,0,0.05);
              }
        }
        .price_field {
            display:flex;
            gap:0.3rem;
            .price_input_field { 
                flex-direction: column;
                span {
                    margin-left:0.3rem;
                }
                input[type="number"] {
                    font-size:0.9rem;
                    width:100%;
                    height:30px;
                    padding:0.3rem;
                    border-radius: 0.3rem;
                    border:1px solid rgb(206, 203, 203);
                    outline: none;
                    -moz-appearance: textfield;
                }
                input[type="number"]::-webkit-outer-spin-button,
                input[type="number"]::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
            }
        }

        /* Rating filter section */

        ul {
            padding:0 !important;
            .list_item {
                padding:0.3rem; 
                display:flex;
                align-items: center;  
                cursor:pointer;                   
                input[type=checkbox]{
                    margin-right:0.5rem;
                    height: 15px;
                    width: 15px;
                    accent-color: var(--navgreendrk);
                }
                .star {
                    font-size:1.2rem;
                    margin-left:0.1rem;
                    color:#ffa41c;
                }
            }
            .list_item:not(:last-child) {
                border-bottom:1px solid var(--fadegrey);
            }
            .list_item label {
                font-size: 0.9rem;
                margin:0;
            }
        }
    }
}
   
}