.checkout-container {
  gap: 1rem;
  font-family: var(--fontfiv);
}
.checkout-container .customer-checkout-form {
  padding: 0 !important;
  font-size: 0.9rem;
}
.checkout-container .customer-checkout-form form .checkout-step-wrapper {
  padding: 0.6rem;
  margin-bottom: 0;
  border-bottom: 1px solid var(--fadegrey);
}
.checkout-container .customer-checkout-form form .checkout-step-wrapper .step-icon {
  width: 40px;
  height: 40px;
  padding: 0.2rem 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-image: linear-gradient(to right, var(--orange), rgb(252, 165, 4));
  color: #fff;
  font-size: 1.3rem;
  border-radius: 50%;
  margin: 0 1rem;
}
.checkout-container .customer-checkout-form form .checkout-step-wrapper .step-icon .verify-icon {
  font-size: 1.8rem;
}
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .checkout-step-label {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .customer-phone-field #verifyPhone {
  margin-left: 0.8rem;
  max-width: 200px;
}
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-group > label {
  font-size: 0.8rem !important;
}
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-row input[type=text],
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-row input[type=password],
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-row input[type=email],
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-row input[type=number],
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-row select,
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-group input[type=text],
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-group input[type=password],
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-group input[type=email],
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-group input[type=number],
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-group select {
  padding: 0.3rem !important;
  font-size: 0.8rem !important;
}
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-row input[type=number]::-webkit-outer-spin-button,
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-row input[type=number]::-webkit-inner-spin-button,
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-group input[type=number]::-webkit-outer-spin-button,
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-group input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-row .errorMessage,
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-group .errorMessage {
  font-size: 0.8rem;
  color: var(--danger);
  margin-left: 0.4rem;
}
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-row .form-check .form-check-label,
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .form-group .form-check .form-check-label {
  font-size: 0.8rem !important;
}
.checkout-container .customer-checkout-form form .checkout-step-wrapper .checkout-step .btn-next {
  padding: 0.3rem 0.8rem !important;
  background-color: var(--globaldark);
  color: #fff;
}
.checkout-container .customer-checkout-form form .customer-form {
  border: 1px solid salmon;
}
.checkout-container .checkout-cart-container .summary {
  padding: 0.8rem 0.6rem;
}
.checkout-container .checkout-cart-container .summary .summary-head .summary-title {
  font-size: 1.2rem;
  font-weight: 600;
}
.checkout-container .checkout-cart-container .summary .summary-head .summary-text {
  font-size: 0.9rem;
}
.checkout-container .checkout-cart-container .summary .summary-details {
  padding: 0.4rem 0;
  border-top: 1px solid var(--fadegrey);
  border-bottom: 1px solid var(--fadegrey);
}
.checkout-container .checkout-cart-container .summary .summary-details .summary-item .sub-total {
  margin-top: 1rem;
  color: var(--navgreendrk);
}
.checkout-container .checkout-cart-container .summary .summary-details .summary-item .sub-total .sub-total-amt {
  float: right;
}
.checkout-container .checkout-cart-container .summary .summary-details .summary-item .grand-total {
  border-top: 2px solid var(--fadegrey);
  font-weight: bold;
  color: var(--navgreendrk);
}
.checkout-container .checkout-cart-container .summary .summary-details .summary-item .grand-total .grand-total-amt {
  float: right;
}
.checkout-container .checkout-cart-container .summary .summary-details .summary-item .summary-charge {
  margin-top: 1rem;
  font-weight: 400;
}
.checkout-container .checkout-cart-container .summary .summary-details .summary-item .summary-charge .summary-amt {
  float: right;
}
.checkout-container .checkout-cart-container .summary .have-an-discount {
  text-decoration: underline;
  cursor: pointer;
}/*# sourceMappingURL=Checkout.css.map */