
.checkout-container {
    gap:1rem;
    font-family:var(--fontfiv);
    .customer-checkout-form {
        padding:0 !important;
        font-size:0.9rem;
        form {
            .checkout-step-wrapper {
                padding: 0.6rem;
                margin-bottom: 0;
                border-bottom: 1px solid var(--fadegrey);
                .step-icon {
                    width:40px;
                    height:40px;
                    padding:0.2rem 0.4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    // background-color: rgba(23, 197, 145, 0.863);
                    background-image:linear-gradient(to right,var(--orange),rgb(252, 165, 4));
                    color:#fff;
                    font-size: 1.3rem;
                    border-radius: 50%;
                    margin:0 1rem;
                    .verify-icon {
                        font-size: 1.8rem;
                    }
                }
                .checkout-step {
                    .checkout-step-label {
                        margin-bottom: 0.5rem;
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                    .customer-phone-field {
                        #verifyPhone {
                            margin-left:0.8rem;
                            max-width:200px;
                        }
                    }
                    .form-group > label {
                        font-size:0.8rem !important;
                    }
                    .form-row,
                    .form-group {
                        input[type='text'],
                        input[type='password'],
                        input[type='email'],
                        input[type='number'],
                        select {
                            padding:0.3rem !important;
                            font-size:0.8rem !important;
                        }
                        input[type='number']::-webkit-outer-spin-button,
                        input[type='number']::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                        }
                        .errorMessage {
                            font-size:0.8rem;
                            color:var(--danger);
                            margin-left:0.4rem;
                        }
                        .form-check {
                            .form-check-label {
                                font-size:0.8rem !important;
                            }
                        }
                    }
                    .btn-next {
                        padding:0.3rem 0.8rem !important;
                        background-color: var(--globaldark);
                        color:#fff;
                    }
                }
             
            }
            
            .location-field {
                
            }
            .customer-form {
                border:1px solid salmon;    
            }
        }
    }

    .checkout-cart-container {
        .summary {
            padding:0.8rem 0.6rem;
            .summary-head {
                .summary-title {
                    font-size: 1.2rem;
                    font-weight: 600;
                }
                .summary-text {
                    // font-weight: 400;
                    font-size:0.9rem;
                }
            }
            .summary-details {
                padding:0.4rem 0;
                border-top:1px solid var(--fadegrey);
                border-bottom:1px solid var(--fadegrey);
                .summary-item {
                    .sub-total {
                        margin-top:1rem;
                        color:var(--navgreendrk);
                        .sub-total-amt{
                            float:right;
                        }
                    }
                    .grand-total {
                        border-top: 2px solid var(--fadegrey);
                        font-weight: bold;
                        color:var(--navgreendrk);
                        .grand-total-amt{
                            float:right;
                        }
                    }
                    .summary-charge {
                        margin-top:1rem;
                        font-weight: 400;
                        .summary-amt {
                            float:right;
                        }
                    }
                }
            }
            .have-an-discount {
                text-decoration: underline;
                cursor:pointer;
            }
        }
    }
}