@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


  .error-code {
    font-family: 'Anton', sans-serif;
    font-size:6rem;
    margin-bottom:-1rem;
    // color: rgb(45, 97, 77);
  }
  .error-icon {
    font-size: 12rem;
    color:rgb(194, 147, 78);
  }


