@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&family=Poppins:wght@200&family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Quicksand:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      /* url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype'); */
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type: none;
}
::selection{
  background-color: #a4dad3;
}

:root {
  --fontpri:'Poppins', sans-serif;
  --fontsec:'Segoe UI Emoji', sans-serif;
  --fontthr:'Quicksand', sans-serif;
  --fontfor:'Lato', sans-serif;
  --fontfiv:'Oxygen', sans-serif;
  --danger:#DC3545;
  --alert:#ff6666;
  --green:rgb(25, 138, 85);
  --orange:#f1a532;
  --dark:#111113;
  --blur:rgba(0,0,0,.6);
  --fadedark:#747475;
  --globaldark:rgb(59, 59, 59);
  --fadelight:#f2f2f2;
  --fadegrey:#e0e0e0;
  --darkgrey:#757575;
  --navgreenlgt:#75afa8;
  --navgreendrk:#00796B;
  --darkgreen:#25554f;
  --lqdgreen:#f1f8f7;
  --navpurpdrk:rgb(113, 54, 161);
}

body {
  background-color:#fff;
}

.app-container {
  font-family: var(--fontfiv);
  font-weight:600;
  color:var(--fdark);
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size:1.5rem;
}
h5 {
  font-size:1rem;
}
h1,h2,h3,h4,h5,h6 {
color:rgb(83, 83, 83);
}
img {
  user-select: none;
  width:100%;
  color:var(--fadedark);
}
button{
  user-select: none;
  outline:none !important;
}
.form-control:focus,
input[type='text']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='tel']:focus {
  box-shadow:0 0 0 .2rem #a9dbd5 !important;
  border:1px solid var(--navgreenlgt) !important;
}
.disabled {
  pointer-events:none;
  opacity:0.4;
}
.cart,.signin {
  font-size:1.4rem;
}

.wishlist {
  font-size:1.4rem;
  padding-top:0.23rem;
}
a{
  text-decoration: none !important;
}

a:hover {
  color:var(--fadelight);
  text-decoration: none;
  cursor:pointer;
}
ul {
margin-bottom:0 !important;
}

li:hover,button:hover {
  cursor: pointer;
}
.text-danger {
  color:yellow;
}
.mdError {
  font-size:1rem;
}

.bg-grndrk {
  background-color: var(--navgreendrk) !important;
  color:#fff !important;
}
.border-light {
  border: 1px solid var(--fadegrey) !important;
}
.d-flex-jc-center-ai-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex-ai-center {
  display: flex;
  align-items: center;
}

.page-item .page-link{
  color:var(--darkgrey);
  border:1px solid var(--darkgrey);
}
.page-item.active .page-link {
  background-color:rgb(41, 40, 40);
  border:1px solid rgb(41, 40, 40);
}
.pagination-sm .page-link {
  padding:0.4rem 0.8rem;
}

.copyright-text {
  font-size: 0.8rem;
}